@import "../../styles.scss";

$box-height: 70px;

.row a {
  text-decoration: none;
}

.person-box {
  cursor: pointer;
  color: $text-color;
  background-color: $main-color;

  &:hover {
    background-color: darken($main-color, 10%);
}
  &:active {
    background-color: darken($main-color, 20%);
  }
}

.username {
  font-style: italic;
}

.details {
  color: $secondary-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  i {
    font-size: 1.11em;
  }
}

.hero-image {
  height: 100px;
  width: 100px;
}

