<h1 class="m-3 text-center">Users</h1>

<div class="container">
    <div class="col-12 text-center" *ngIf="!hideFillButton">
        <p>Sorry. We can't find any users in database. Please, user alternative source of users or fill one by yourself </p>
        <button class="btn btn-primary" (click)="fillWithUsers()"> Get users </button>
        <button class="btn btn-warning" (click)=""> New user </button>
    </div>
    <div class="row">
        <a *ngFor="let user of users"
           class="box w-100 container
           col-md-6 col-sm-12"
           routerLink="/users/{{user.id}}">
            <div class="person-box m-1 p-2 row">

                <div class="m-auto
                col-sm-4 col-12">
                    <img class="hero-image" [src]="getImage(user.id)">
                </div>

                <div class="col-sm col-12">
                    <h2>{{user.name}}</h2>
                    <h5 class="username pl-2">as {{user.username}}</h5>
                    <div class="container">
                        <div class="details">
                            <i class="d-inline fa fa-at pr-2"></i><h6 class="d-inline">{{user.email}}</h6>
                        </div>
                        <div class="details">
                            <i class="d-inline fa fa-phone pr-2"></i><h6 class="d-inline">{{user.phone}}</h6>
                        </div>
                        <div class="details">
                            <i class="d-inline fa fa-globe pr-2"></i><h6 class="d-inline">{{user.website}}</h6>
                        </div>
                    </div>
                </div>

            </div>

        </a>
    </div>
</div>