/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$main-color: #f7f4ea;
$text-color: #25283d;
$secondary-color: #2e4052;

body {
  font-family: 'Roboto', sans-serif;
}